@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

.container-about,
.container-details,
.container-photos,
.container-people {
    margin: 100px 0;
}

button {
    width: 250px;
    height: 55px;
    background-color: #229983 !important;
    border-radius: 8px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border: none;
}

a {
    text-decoration: none;
    color: white;
}


html {
    scroll-behavior: smooth;
}


* {
    font-family: 'League Spartan', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    max-width: 1300px;
    margin: 0 auto;
}

.color {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.container-about {
    margin: 100px 0;
}

.container-details {
    margin: 100px 0;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
}

header .container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

header .container-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

header .container-title .title {
    font-size: 18px;
    font-weight: 800;
    color: #229983;
}

header .container-links .list-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

header .container-links .list-links a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

header .container-links .list-links a:hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

header .container-main .container-menu {
    display: none;
}

.container-about {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.container-about .container-dts {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 350px;
    gap: 15px;
}

.container-about .container-dts .title {
    font-size: 25px;
    font-weight: 800;
    text-align: center;
}

.container-about .container-dts .desc {
    font-size: 18px;
    text-align: center;
}

.container-about .container-images .list-images {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.container-about .container-images .list-images img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    object-fit: cover;
}

.container-about .container-images .list-images .main {
    margin-bottom: 100px;
}

.container-people {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
}

.container-people section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container-people .container-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 500px;
    gap: 30px;
}

.container-people .container-box img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #229983;
}

.container-people .container-box .title {
    font-size: 25px;
    font-weight: 800;
}

.container-people .container-box .desc {
    font-size: 18px;
    text-align: justify;
    padding: 30px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid gainsboro;
    height: 325px;
}

.container-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.container-details .list-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container-details .container-box {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid gainsboro;
    border-radius: 8px;
    width: 300px;
    height: 300px;
    padding: 30px;
}

.container-details .container-box .icon {
    width: 60px;
    height: auto;
}

.container-details .container-box .c-title {
    font-size: 20px;
}

.container-details .container-box .desc {
    font-size: 18px;
}

.container-details .container-box button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    width: 150px;
    height: 60px;
    gap: 5px;
}

.container-details .container-box button i {
    font-size: 16px;
}

.container-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

.container-photos .container-images .list-images {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

.container-photos .container-images .list-images img {
    width: 300px;
    height: 300px;
    border-radius: 8px;
    border: 5px solid #229983;
    object-fit: cover;
}

.container-about .container-dts .title,
.container-people .title,
.container-details .title,
.container-photos .title {
    font-size: 30px;
    font-weight: 1000;
    text-align: center;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0;
}

footer .container-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
}

footer .container-main .copy {
    font-size: 18px;
    font-weight: 600;
}

footer .container-main .list-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

footer .container-main .list-links .link {
    font-size: 18px;
    color: black;
    text-decoration: none;
}

@media (max-width: 1250px) {
    .container-about .container-dts {
        padding: 0 250px;
    }

    .container-details .list-box,
    .container-people section {
        gap: 15px;
    }

    .container-details .container-box {
        width: 280px;
        height: 330px;
        padding: 30px;
    }
}

@media (max-width: 1250px) {
    .container-people .container-box {
        width: 450px;
    }


    .container-people .container-box .desc {
        height: 330px;
    }
}

@media (max-width: 1115px) {

    .container-about .container-images .list-images img,
    .container-photos .container-images .list-images img {
        width: 250px;
        height: 250px;
    }

    .container-details .container-box {
        width: 250px;
        height: 300px;
        padding: 30px;
    }

    .container-details .container-box .title {
        font-size: 18px;
    }

    .container-details .container-box .desc {
        font-size: 15px;
    }
}

@media (max-width: 1010px) {

    .container-about .container-images .list-images img,
    .container-photos .container-images .list-images img {
        width: 250px;
        height: 250px;
    }

    .container-people section {
        gap: 25px;
        flex-direction: column;
    }

    .container-people .container-box .desc {
        width: 500px;
        height: 300px;
        font-size: 18px;
    }

    .container-details .container-box {
        width: 225px;
        height: 300px;
        padding: 30px;
    }

    .container-details .container-box .title {
        font-size: 18px;
    }

    .container-details .container-box .desc {
        font-size: 15px;
    }
}

@media (max-width: 940px) {

    .container-about .container-images .list-images img,
    .container-photos .container-images .list-images img {
        width: 225px;
        height: 225px;
    }

    .container-about .container-dts {
        padding: 0 150px;
    }

    .container-details {
        padding: 0 15px;
    }

    .container-details .list-box {
        flex-direction: column;
    }

    .container-details .list-box .container-box {
        width: 100%;
        box-sizing: border-box;
    }

    .container-details .list-box .container-box .c-title {
        font-size: 24px;
    }

    .container-details .list-box .container-box .desc {
        font-size: 18px;
    }

    .container-people {
        padding: 0 15px;
        box-sizing: border-box;
    }

    .container-people section .container-box .desc {
        width: 100%;        
    }

    .container-people section {
        gap: 15px;
    }


    .container-people section .container-box,
    .container-people section {
        width: 100%;
        box-sizing: border-box;
        padding: 0 15px;
    }

}

@media (max-width: 840px) {

    .container-about .container-dts .title,
    .container-people .title,
    .container-details .title,
    .container-photos .title {
        font-size: 25px;
        font-weight: 1000;
        text-align: center;
    }

    .container-about .container-images .list-images img,
    .container-photos .container-images .list-images img {
        width: 200px;
        height: 200px;
    }

    .container-about .container-dts {
        padding: 0 100px;
    }
}

@media (max-width: 740px) {

    .container-about .container-dts .title,
    .container-people .title,
    .container-details .title,
    .container-photos .title {
        font-size: 25px;
        font-weight: 1000;
        text-align: center;
    }

    .container-about .container-images .list-images img,
    .container-photos .container-images .list-images img {
        width: 190px;
        height: 190px;
    }

    .container-about .container-dts {
        padding: 0 50px;
    }

    .container-photos .container-images .list-images,
    .container-about .container-images .list-images {
        gap: 15px;
    }

    .container-details .container-box {
        height: 330px;
    }

    .container-details .container-box .icon {
        width: 50px;
    }

    .container-details .list-box .container-box .c-title {
        font-size: 18px;
    }

    .container-details .container-box button {
        height: 50px;
    }

    .container-details .list-box .container-box .desc {
        font-size: 18px;
    }

    footer .container-main .copy,
    footer .container-main .list-links li .link {
        font-size: 13px;
    }

    footer .container-main .list-links,
    footer .container-main {
        gap: 15px;
    }
}

@media (max-width: 630px) {
    header {
        padding: 30px 15px;
    }

    header .container-main {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: row;
        width: 100%;
    }

    header .container-main .container-links {
        display: none;
    }


    header .container-main .container-menu {
        display: block;
    }

    header .container-main .container-menu i {
        font-size: 18px;
    }

    .container-about .container-dts .title,
    .container-people .title,
    .container-details .title,
    .container-photos .title {
        font-size: 23px;
        font-weight: 1000;
        text-align: center;
    }

    .container-about {
        padding: 0 15px;
    }

    .container-about .container-images .list-images img {
        width: 150px;
        height: 150px;
        box-sizing: border-box;
    }

    .container-about .container-images .list-images .main {
        margin-bottom: 50px;
    }

    .container-photos {
        overflow: hidden;
    }

    .container-photos .container-images .list-images img {
        width: 200px;
        height: 200px;
    }

    .container-about .container-dts {
        padding: 0;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container-about .container-dts .title {
        text-align: left;
    }

    .container-about .container-dts .desc {
        text-align: left;
    }

    .container-photos .container-images .list-images,
    .container-about .container-images .list-images {
        gap: 15px;
    }
}

@media (max-width: 520px) {
    .container-about {
        padding: 0 15px;
    }

    .container-about .container-images {
        width: 100%;
    }

    .container-about .container-images .list-images {
        flex-direction: column;
        width: 100%;
    }

    .container-about .container-images .list-images li {
        width: 100%;
    }

    .container-about .container-images .list-images img {
        width: 100%;
        height: 225px;
    }

    .container-about .container-images .list-images .main {
        margin: 0;
    }

    .container-people section .container-box .desc {
        height: auto;
    }
}