@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');

* {
    font-family: 'League Spartan', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.instagram {
    display: none;
    text-decoration: none;
}

.instagram .banner {
    position: fixed;
    bottom: 50px;
    right: 30px;
    width: 60px;
    height: 60px;
}

body {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 45px 15px;
}

header .container-title .title {
    font-size: 20px;
    font-weight: 800;
    color: #1F8C6D;
}


header .container-title .title .bk {
    display: none;
}

header .container-links .list-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

header .container-links .list-links .link {
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

header .container-links .list-links .link i {
    font-size: 18px;
}

header .container-menu .fa-bars {
    display: none;
}

header .container-menu .fa-moon {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 18px;
    width: 80px;
    height: 80px;
}

header .container-links .list-links .link:hover {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}

.container-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 100px 0;
    padding: 30px 0;
    gap: 30px;
}

.container-banner img {
    width: 300px;
    height: auto;
}

.container-banner .content-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 200px;
    gap: 15px;
}

.container-banner .content-details .title {
    font-size: 30px;
    text-align: center;
    font-weight: 900;

}

.color {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.container-banner .content-details .color {
    background: linear-gradient(45deg, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    font-weight: 900;
}

.container-banner .content-details .desc {
    font-size: 20px;
    text-align: center;
}

.container-banner .content-images {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container-banner .content-images .banner {
    border-radius: 8px;
    object-fit: cover;
    width: 350px;
    height: 350px;
}

.container-banner .content-images .main {
    margin-bottom: 50px;
}

.container-image {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.container-image .content-details .desc {
    font-size: 20px;
    text-align: center;
}

.container-image .banner {
    object-fit: cover;
    width: 300px;
    height: 300px;
}

.container-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 15px;

}

.container-details .content-box {
    width: 400px;
    height: 400px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    border: 1px solid gainsboro;
    border-radius: 8px;
    padding: 30px;
    gap: 15px;
}

.container-details .content-box .icon {
    width: 60px;
    height: auto;
}

.container-details .main {
    width: 250px;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-details .title {
    font-size: 25px;
}

.container-details .desc {
    font-size: 18px;
}

.container-details button {
    width: 300px;
    height: 60px;
    border: none;
    font-size: 18px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #229983;
    color: white;
    font-weight: 600;
    gap: 5px;
}

.container-details button i {
    font-size: 18px;
}

.container-photos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 150px 0;
    gap: 25px;
}

.container-photos .container-images .list-images {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 25px;
}

.container-photos .container-images .list-images img {
    object-fit: cover;
    border-radius: 8px;
    width: 350px;
    height: 350px;
}

.container-photos .content-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.container-photos .content-box .title {
    font-size: 30px;
    text-align: center;
    font-weight: 800;
}

.container-photos button {
    width: 300px;
    height: 60px;
    font-size: 18px;
    border-radius: 16px;
    background-color: #229983;
    color: white;
    border: none;
    font-weight: 600;
}

.container-bio {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 150px 0;
    gap: 50px;
}

.container-bio .title {
    text-align: center;
    font-weight: 900;
}

.container-bio .container-box {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.container-bio .container-box img {
    width: 350px;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
}

.container-bio .container-box .details {
    width: 700px;
    height: 400px;
    padding: 35px;
    border: 1px solid gainsboro;
    border-radius: 8px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.container-bio .container-box .details .title {
    font-size: 30px;
    font-weight: 800;
}

.container-bio .container-box .details .desc {
    font-size: 20px;
    text-align: justify;
}

footer .container-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 15px;
}

footer .container-main .content-text .copyright {
    font-size: 20px;
    font-weight: 600;
}

footer .container-main .list-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 30px;
}

footer .container-main .list-links .link {
    font-size: 20px;
    color: black;
    text-decoration: none;
}


@media (max-width: 1100px) {
    header .container-title .title {
        font-size: 18px;
    }

    header .container-links .list-links {
        gap: 15px;
    }

    header .container-links .list-links .link {
        font-size: 18px;
    }

    .container-banner .content-images .banner,
    .container-photos .container-images .list-images img {
        width: 250px;
        height: 250px;
    }

    .container-banner .content-details .title,
    .container-photos .content-box .title,
    .container-bio .title {
        font-size: 25px;
    }

    .container-banner .content-details .desc {
        font-size: 16px;
    }

    .container-details {
        justify-content: center;
        gap: 10px;
    }

    .container-details .content-box {
        justify-content: center;
        gap: 15px;
    }

    .container-details .content-box {
        width: 300px;
        height: 350px;
    }

    .container-details .content-box .icon {
        width: 50px;
    }

    .container-details .content-box .title {
        font-size: 20px;
    }

    .container-details .content-box .desc {
        font-size: 16px;
    }

    .container-details .content-box button {
        width: 200px;
    }

    .container-bio .container-box {
        gap: 20px;
    }

    .container-bio .container-box .details {
        width: 500px;
        height: 350px;
        gap: 10px;
    }

    .container-bio .container-box img {
        height: 350px;
    }

    .container-bio .container-box .details .desc {
        font-size: 16px;
    }


    footer .container-main .content-text .copyright {
        font-size: 18px;
    }

    footer .container-main .list-links {
        gap: 15px;
    }

    footer .container-main .list-links .link {
        font-size: 18px;
    }
}

@media (max-width: 950px) {
    header .container-title .title {
        font-size: 18px;
    }

    header .container-links .list-links {
        gap: 15px;
    }

    header .container-links .list-links .link {
        font-size: 18px;
    }

    .container-banner .content-images .banner,
    .container-photos .container-images .list-images img {
        width: 250px;
        height: 250px;
    }

    .container-banner .content-details .title,
    .container-photos .content-box .title,
    .container-bio .title {
        font-size: 25px;
    }

    .container-banner .content-details .desc {
        font-size: 16px;
    }

    .container-details {
        justify-content: center;
        gap: 10px;
    }

    .container-details .content-box {
        justify-content: center;
        gap: 15px;
    }

    .container-details .content-box {
        width: 280px;
        height: 400px;
    }

    .container-details .content-box .icon {
        width: 50px;
    }

    .container-details .content-box .title {
        font-size: 20px;
    }

    .container-details .content-box .desc {
        font-size: 16px;
    }

    .container-details .content-box button {
        width: 200px;
    }

    .container-bio .container-box {
        gap: 20px;
    }

    .container-bio .container-box .details {
        width: 500px;
        height: 300px;
        gap: 10px;
    }

    .container-bio .container-box img {
        height: 300px;
        width: 300px;
    }

    .container-bio .container-box .details .desc {
        font-size: 15px;
    }


    footer .container-main .content-text .copyright {
        font-size: 18px;
    }

    footer .container-main .list-links {
        gap: 15px;
    }

    footer .container-main .list-links .link {
        font-size: 18px;
    }
}

@media (max-width: 900px) {
    header .container-title .title {
        font-size: 18px;
    }

    header .container-links .list-links {
        gap: 15px;
    }

    header .container-links .list-links .link {
        font-size: 18px;
    }

    .container-banner .content-images .banner,
    .container-photos .container-images .list-images img {
        width: 225px;
        height: 225px;
    }

    .container-banner .content-details .title,
    .container-photos .content-box .title,
    .container-bio .title {
        font-size: 25px;
    }

    .container-banner .content-details .desc {
        font-size: 16px;
    }

    .container-details {
        justify-content: center;
        gap: 10px;
    }

    .container-details .content-box {
        justify-content: center;
        gap: 15px;
    }

    .container-details .content-box {
        width: 250px;
        height: 380px;
        padding: 15px;
    }

    .container-details .content-box .icon {
        width: 50px;
    }

    .container-details .content-box .title {
        font-size: 20px;
    }

    .container-details .content-box .desc {
        font-size: 15px;
    }

    .container-details .content-box button {
        width: 200px;
    }

    .container-bio .container-box {
        gap: 20px;
    }

    .container-bio .container-box .details {
        width: 450px;
        height: 300px;
        padding: 15px;
        gap: 5px;
    }

    .container-bio .container-box img {
        height: 300px;
        width: 300px;
    }

    .container-bio .container-box .details .desc {
        font-size: 15px;
    }


    footer .container-main .content-text .copyright {
        font-size: 18px;
    }

    footer .container-main .list-links {
        gap: 15px;
    }

    footer .container-main .list-links .link {
        font-size: 18px;
    }
}

@media (max-width: 830px) {
    header .container-title .title {
        font-size: 18px;
    }

    header .container-links .list-links {
        gap: 15px;
    }

    header .container-links .list-links .link {
        font-size: 18px;
    }

    .container-banner .content-images .banner,
    .container-photos .container-images .list-images img {
        width: 225px;
        height: 225px;
    }

    .container-banner .content-details {
        padding: 0 100px;
    }

    .container-banner .content-details .title,
    .container-photos .content-box .title,
    .container-bio .title {
        font-size: 25px;
    }

    .container-banner .content-details .desc {
        font-size: 15px;
    }

    .container-details {
        justify-content: center;
        gap: 10px;
    }

    .container-details .content-box {
        justify-content: center;
        gap: 15px;
    }

    .container-details .content-box {
        width: 230px;
        height: 350px;
        padding: 15px;
    }

    .container-details .content-box .icon {
        width: 40px;
    }

    .container-details .content-box .title {
        font-size: 20px;
    }

    .container-details .content-box .desc {
        font-size: 15px;
    }

    .container-details .content-box button {
        width: 180px;
        height: 50px;
    }

    .container-bio .container-box {
        gap: 20px;
    }

    .container-bio .container-box .details {
        width: 350px;
        height: 250px;
        padding: 15px;
        gap: 5px;
    }

    .container-bio .container-box img {
        height: 250px;
        width: 250px;

    }

    .container-bio .container-box .details .title {
        font-size: 20px;
    }

    .container-bio .container-box .details .desc {
        font-size: 15px;
    }

    .container-bio .container-box .details .more {
        display: none;
    }


    footer .container-main .content-text .copyright {
        font-size: 18px;
    }

    footer .container-main .list-links {
        gap: 15px;
    }

    footer .container-main .list-links .link {
        font-size: 18px;
    }
}

.container-menu .i {
    display: none;
    font-size: 20px;
}

@media (max-width: 700px) {

    header .container-title .title {
        font-size: 16px;
    }

    header .container-links .list-links {
        gap: 15px;
        display: none;
    }

    header .container-menu .fa-moon {
        display: none;
    }

    header .container-menu .fa-bars {
        display: block;
    }

    header .container-title .title .bk {
        display: block;
    }

    header .container-links .list-links .link {
        font-size: 16px;
    }


    .container-banner,
    .container-photos,
    .container-bio,
    .container-details {
        margin: 50px 0;
    }

    .container-banner {
        padding: 0 15px;
    }


    .container-banner .content-images {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }

    .container-banner .content-images .main {
        margin: 0;
    }

    .container-banner .content-images .banner {
        width: 100%;
        height: 250px;
    
    }

    .container-photos {
        overflow: hidden;
        
        overflow: hidden;
        scroll-behavior: smooth;
    }

    .container-photos .container-images .list-images img {
        width: 150px;
        height: 150px;
    }

    .container-banner .content-images {
        gap: 10px;
        justify-content: center;
    }

    .container-banner .content-details {
        padding: 0 50px;
        gap: 10px;
    }

    .container-banner .content-details .title,
    .container-photos .content-box .title,
    .container-bio .title {
        font-size: 25px;
    }

    .container-banner .content-details .desc {
        font-size: 18px;
    }

    .container-photos .container-images .list-images {
        gap: 10px;
    }

    .container-details {
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        padding: 15px;
    }

    .container-details .content-box {
        justify-content: center;
        gap: 15px;
    }

    .container-details .content-box {
        width: 100%;
        height: 250px;
        padding: 15px;
    }

    .container-details .content-box .icon {
        width: 40px;
    }

    .container-details .content-box .title {
        font-size: 20px;
    }

    .container-details .content-box .desc {
        font-size: 15px;
    }

    .container-details .content-box button {
        font-size: 18px;
        width: 150px;
        height: 50px;
    }

    .container-bio .container-box .details {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .container-bio .container-box {
        gap: 20px;
        flex-direction: column;
        padding: 15px;
    }

    .container-bio .container-box .details {
        width: 100%;
        height: 200px;
        padding: 15px;
        gap: 5px;
    }

    .container-bio .container-box img {
        height: 150px;
        width: 150px;
        border-radius: 50%;
        border: 6px solid #229983;
    }

    .container-bio .container-box .details .desc {
        font-size: 16px;
    }

    .container-bio .container-box .details .more {
        display: none;
    }

    .container-photos button {
        width: 190px;
        font-size: 16px;
    }

    footer .container-main {
        flex-direction: column;
        gap: 10px;
    }


    footer .container-main .content-text .copyright {
        font-size: 12.5px;
    }

    footer .container-main .list-links {
        gap: 10px;
    }

    footer .container-main .list-links .link {
        font-size: 12.5px;
    }

    .container-menu i {
        display: block;
    }
}

@media (max-width: 500px) {
    .container-banner .content-details {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container-banner .content-details .title {
        text-align: left;
    }

    .container-banner .content-details .desc {
        text-align: left;
    }

    .container-banner .content-details {
        padding: 15px;
    }
}


@media (max-width: 490px) {

    .container-banner .content-details {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container-banner .content-details .title {
        text-align: left;
    }

    .container-banner .content-details .desc {
        text-align: left;
    }

    .container-banner .content-details {
        padding: 15px;
    }

    .container-details .content-box {
        height: 350px;
    }
}

@media (max-width: 400px) {

    .container-banner .content-details .title,
    .container-photos .content-box .title,
    .container-bio .title {
        font-size: 18px;
    }

    .container-banner .content-details {
        align-items: flex-start;
        justify-content: flex-start;
    }

    .container-banner .content-details .title {
        text-align: left;
    }

    .container-banner .content-details .desc {
        text-align: left;
    }

    .container-banner .content-details {
        padding: 15px;
    }

    .container-details .content-box {
        height: 350px;
    }
}

button {
    border-radius: 8px !important;
}